.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  background: linear-gradient(90deg, #1a1a1a, #121212); 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); 
  justify-content: space-between; 
  align-items: center;
  padding: 1rem 2rem;
  z-index: 10;
  overflow: hidden; 
}

.navbar-left {
  font-size: 1.5rem; 
  font-weight: bold;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-left: 50px;
}

.navbar-left a {
  text-decoration: none;
  color: white;
}

.navbar-left a:hover {
  color: #6c5ce7; 
}


.navbar-right {
  display: flex;
  gap: 3rem; 
  list-style: none;
  margin-right: 100px;
  padding: 0;
  justify-content: flex-end; 
  flex: 1; 
}

.navbar-right a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem; 
  font-weight: 400; 
  transition: color 0.3s ease, transform 0.2s ease;
}

.navbar-right a:hover {
  color: #6c5ce7;
  transform: scale(1.1); 
}

.navbar-right .active {
  border-bottom: 2px solid #6c5ce7; 
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .navbar-right {
    flex-direction: column;
    width: 100%;
  }

  .navbar-left {
    margin-bottom: 1rem; 
  }
}

